.row {
  margin-left: 20px;
  color: #fff;
}

.row_poster {
  /* this will keep the aspect ratio */
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  /* this transition makes our hover effect smooth */
  transition: transform 450ms;
  margin-right: 10px;
}

/* scroll bar */
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* Hides our scroll bar but the functionality still works */
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
